NEXT_PUBLIC_APP_URL="http://localhost:3000"
# URL to your PocketBase instance
NEXT_PUBLIC_POCKETBASE_URL="https://pocketbase.vietopik.com"

# React email (resend) 
# Resend API Key found at https://resend.com/api-keys
RESEND_API_KEY="re_"
# We need to register a domain with Resend to send emails from
# Register a domain at https://resend.com/domains
# Or we can use this email provided by resend for only testing: "onboarding@resend.dev"
EMAIL_FROM_ADDRESS="onboarding@resend.dev"

# uploadthing
UPLOADTHING_SECRET="sk_live_"
UPLOADTHING_APP_ID="•••••••••••••••••"

# upstash
UPSTASH_REDIS_REST_URL="https://YOUR_UPSTASH_REDIS_REST_URL"
UPSTASH_REDIS_REST_TOKEN="•••••••••••••"